html {
    scroll-behavior: smooth;
}

*,*::before*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial" sans-serif;
    cursor: pointer;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.wraapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tooltip {
    position: relative;
}

.wrapper__title {
    padding: 20px;
}

.content {
    position: absolute;
    width: 450px;
    background-color: palegoldenrod;
    padding: 10px;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 80%);
    visibility: hidden;
}

.content::before {
    content: "";
    position: absolute;
    bottom: 185px;
    left: 50%;
    transform: translateY(50%) rotate(45deg);
    display: block;
    width: 30px;
    height: 30px;
    background-color: palegoldenrod;
}

.wrapper__title:hover + .content {
    visibility: visible;
    opacity: 1;
}

